html {
  height: 100%;
  width: 100%;
}

h1 {
  color: #ff9500;
  text-decoration: underline;
  text-align: center;
}

body {
  background-color: #fff7c2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Verdana";
  
}

img {
  border: dotted;
  width: 500px;
}

nav {
  display: flex;
  /* flex-direction: row;
  justify-content: space-between; */
  background-color: #ff8800;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

button {
  color: orange;
}

button:hover {
  transform: scale(1.7);
  z-index: 102;
  transition: all 0.5s ease;
  color: #d22eff;
}

.current {
  background-color: green;
}

.unused {
  background-color: red;
}